<header class="header">
    <p class="logo">Perguntas e repostas</p>
    <nav>
        <ul class="nav-ul">
            <li><a href="/" class="nav-item">Home</a></li>
            <li><a href="/ranking" class="nav-item">Ranking</a></li>
            <li><a href="/question" class="nav-item">Jogar!</a></li>
        </ul>
    </nav>
</header>