<section class="status">
    <h2>Painel do jogador</h2>
    <div class="perfil-item">
        <span>Perguntas jogadas</span>
        <span><%- score.questions %></span>
    </div>
    <div class="perfil-item">
        <span>Acertos</span>
        <span><%- score.correct %></span>
    </div>
    <div class="perfil-item">
        <span>Erros</span>
        <span><%- score.wrong %></span>
    </div>
</section>