<section class="status">
    <h2>Painel do jogador</h2>
    <div class="perfil-item">
        <span>Perguntas jogadas</span>
        <span>1</span>
    </div>
    <div class="perfil-item">
        <span>Acertos jogadas</span>
        <span>1</span>
    </div>
    <div class="perfil-item">
        <span>Erros jogadas</span>
        <span>1</span>
    </div>
</section>