<main class="main">
    <div class="presentation">
        <h1>Perguntas e respostas</h1>
        <p>Responda perguntas e ganhe pontos!</p>
        <form action="/start" method="post">
            <input type="text" name="userName" id="iUserName" maxlength="10" required>
            <button type="submit" class="main-button">Começar</button>
        </form>
    </div>
</main>