<main class="main">
    <div class="presentation">
        <h1>Perguntas e respostas</h1>
        <p>Responda perguntas e ganhe pontos!</p>
        <a href="/start" class="main-button">Começar!</a>
    </div>
</main>