<main class="main">
    <div class="presentation">
        <h1>Perguntas e respostas</h1>
        <p>Responda perguntas e ganhe pontos!</p>
        <a class="main-button" href="/pergunta">Começar!</a>
    </div>
</main>