<main class="main-ranking">
    <h1>Melhores jogadores</h1>
    <ul class="ranking-list">
        <% for (let i=0; i < ranking.length; i++) {%>
            <li class="ranking-item">
                <span class="player-name">
                    <%- ranking[i].data.name %>
                </span>
                <span class="player-score">
                    Acertos: <%- ranking[i].data.correct_answers %>
                    |
                    Erros: <%- ranking[i].data.wrong_answers %>
                </span>
            </li>
            <% } %>
    </ul>
</main>