.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status h2 {
    margin-bottom: 20px;
}

.perfil-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 239, 255);
    padding: 10px;
    border-radius: 10px;
}